@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: linear-gradient(to bottom, #64748b, #15162c);
    color: white;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}